USE [master]
GO
/****** Object:  Database [XSIS_DB]    Script Date: 26/05/2020 09:51:51 ******/
CREATE DATABASE [XSIS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'XSIS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\XSIS_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'XSIS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\XSIS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XSIS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XSIS_DB]
GO
/****** Object:  Table [dbo].[TB_KREDIT_RUMAH]    Script Date: 26/05/2020 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_KREDIT_RUMAH](
	[ID_KREDIT] [bigint] IDENTITY(1,1) NOT NULL,
	[NO_REKENING] [varchar](16) NOT NULL,
	[NAMA] [varchar](50) NULL,
	[TANGGAL_REALISASI] [datetime] NOT NULL,
	[PLAFOND] [decimal](19, 0) NULL,
	[JANGKA_WAKTU] [bigint] NULL,
	[PERSEN_BUNGA] [decimal](5, 0) NULL,
	[CREATED_DATE] [datetime] NULL,
	[CREATED_BY] [varchar](max) NULL,
	[UPDATE_BY] [varchar](max) NULL,
	[UPDATE_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
 CONSTRAINT [PK_TB_KREDIT_RUMAH_1] PRIMARY KEY CLUSTERED 
(
	[ID_KREDIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_NASABAH]    Script Date: 26/05/2020 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_NASABAH](
	[ID_NASABAH] [bigint] IDENTITY(1,1) NOT NULL,
	[NAMA] [varchar](50) NOT NULL,
	[NIK] [varchar](16) NOT NULL,
	[TELEPON] [varchar](15) NOT NULL,
	[EMAIL] [varchar](50) NULL,
	[JENIS_KELAMIN] [varchar](20) NOT NULL,
	[TANGGAL_LAHIR] [datetime] NULL,
	[AGAMA] [varchar](20) NULL,
	[STATUS] [varchar](50) NULL,
	[NAMA_IBU_KANDUNG] [varchar](50) NULL,
	[PEKERJAAN] [varchar](50) NULL,
	[ALAMAT] [varchar](50) NULL,
	[IS_DELETE] [bit] NULL,
	[UPDATE_BY] [varchar](50) NULL,
	[UPDATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_TB_NASABAH] PRIMARY KEY CLUSTERED 
(
	[ID_NASABAH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_REKENING]    Script Date: 26/05/2020 09:51:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_REKENING](
	[NO_REKENING] [varchar](16) NOT NULL,
	[ID_NASABAH] [bigint] NOT NULL,
	[SALDO] [bigint] NULL,
	[UPDATE_DATE] [datetime] NULL,
	[UPDATE_BY] [varchar](50) NULL,
	[CREATED_BY] [varchar](50) NULL,
	[CREATED_DATE] [datetime] NULL,
	[IS_DELETE] [bit] NULL,
 CONSTRAINT [PK_TB_REKENING] PRIMARY KEY CLUSTERED 
(
	[NO_REKENING] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
