<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header" id="head" style="background-color:#191970">
                <h5 class="modal-title" id="title">Detail Pelamar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body">
                ...
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-sedang" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" id="head-sedang" style="background-color:#191970">
                <h5 class="modal-title" id="title-sedang"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body-sedang">
                ...
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-kecil" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header" id="head-kecil" style="background-color:#000066">
                <h5 class="modal-title" id="title-kecil"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body-kecil">
                ...
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel"></h5>
            </div>
            <div class="modal-body" id="id_Modal_Delete">
                <p id="bd" style="font-size:25px"></p>
            </div>
            <div class="modal-footer">
                <div style="float:right;">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        <span aria-hidden="true">Batal</span>
                    </button>
                    <button id="btn_submit" type="submit" class="btn btn-primary">Ya</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header" id="head-delete" style="background-color:#191970">
                <h5 class="modal-title" id="title-delete">Yakin Hapus ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="id-body-delete">
                ...
            </div>
            <div class="modal-footer">
                <div style="float:right;">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">
                        <span aria-hidden="true">Batal</span>
                    </button>
                    <button id="id-btn-submit" type="submit" class="btn btn-primary">Ya</button>
                </div>
            </div>
        </div>
    </div>
</div>


