<div class="navbar navbar-expand navbar-light" style="background-color:#191970;">

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
    </div>
    <!-- Nav Item - Menu1 -->
    <!-- Topbar Navbar -->
    <ul class="navbar-nav navbar-expand ">
        <!-- Nav Item - Alerts -->
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw" style="color:white;"></i>
            </a>
        </li>


        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown">
            <a style="color:white;" class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-white">Hi @Session["Email"]</span>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                <a class="dropdown-item" href="#">
                    <i class="fas fa-key fa-sm fa-fw mr-2 " style=" color:#191970;"></i>
                    Ubah Kata Sandi
                </a>

                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 style=" color:#191970;"></i>
                    Logout
                </a>
            </div>
        </li>

    </ul>

</div>

