<div class="navbar-nav sidebar" id="accordionSidebar">
    <br />
    <!-- Page Heading -->
    <div class="d-sm-flex mb-4">
        <h1 style="color:black;" class="text-center">BANK XSIS</h1>
    </div>

    <!-- Divider -->
    <table class="table table-bordered" style="color:#000066;border:thick;">
        <tr>
            <td>
                <a class="btn btn btn-beranda" href="../Home/Index">
                    <i class="fas fa-square fa-sm fa-fw mr-2 " style="color:#191970;"></i>
                    Beranda
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn btn-nasabah" href="../Nasabah/Index">
                    <i class="fas fa-square fa-sm fa-fw mr-2 " style="color:#191970;"></i>
                    Nasabah
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a class="btn btn btn-rekening" href="../Rekening/Index">
                    <i class="fas fa-square fa-sm fa-fw mr-2 " style="color:#191970;"></i>
                    Rekening
                </a>
            </td>
        </tr>

        <tr>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn btn-pengaturan dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-square fa-sm fa-fw mr-2" style="color:#191970;"></i>
                        Kredit
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="../KreditRumah/Index">Kredit Rumah</a>
                        <a class="dropdown-item" href="..">Kredit Usaha</a>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            @*<td>
                    <div class="btn-group">
                        <button type="button" class="btn btn btn-pengaturan dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-square fa-sm fa-fw mr-2" style="color:#191970;"></i>
                            Penjadwalan
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="../Rencana/Index">Rencana</a>
                            <a class="dropdown-item" href="..">Undangan</a>
                        </div>
                    </div>
                </td>*@
        </tr>
    </table>
    <!-- Nav Item - Menu1 -->
</div>

