@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ahmad Kurniadi<br />
    Batch 221 .NET, WA 0858-3282-3013<br />
</address>

<address>
    <strong>Email:</strong> <a href="mailto:adikurniadi2907@gmail.com">adikurniadi2907@gmail.com</a>
</address>